/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../resources/montserrat-font/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../resources/montserrat-font/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../resources/montserrat-font/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../resources/montserrat-font/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../resources/montserrat-font/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../resources/montserrat-font/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../resources/montserrat-font/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../resources/montserrat-font/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../resources/montserrat-font/montserrat-v25-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../resources/montserrat-font/montserrat-v25-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../resources/montserrat-font/montserrat-v25-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../resources/montserrat-font/montserrat-v25-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: url('../resources/montserrat-font/montserrat-v25-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../resources/montserrat-font/montserrat-v25-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../resources/montserrat-font/montserrat-v25-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../resources/montserrat-font/montserrat-v25-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../resources/montserrat-font/montserrat-v25-latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* la-belle-aurore-regular - latin */
@font-face {
    font-family: 'La Belle Aurore';
    font-style: normal;
    font-weight: 400;
    src: url('../resources/laBelle-font/la-belle-aurore-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../resources/laBelle-font/la-belle-aurore-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../resources/laBelle-font/la-belle-aurore-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../resources/laBelle-font/la-belle-aurore-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../resources/laBelle-font/la-belle-aurore-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../resources/laBelle-font/la-belle-aurore-v16-latin-regular.svg#LaBelleAurore') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, 
body {
    height: 100%;
}


/* ALL PAGES */

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 30px;
    background-color: #e0d1a9;
    font-family: 'Montserrat', serif;
    color: #353a36;
}

.navbar {
    background-color: rgb(205, 171, 59);
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.navbar button {
    color: #353a36;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: rgb(205, 171, 59);
    font-family: 'Montserrat', serif;
    font-size: 16px;
}

#active {
    text-decoration: underline;
}

.navbar > button:hover {
    color: white;
    cursor: pointer;
}

.main {
    overflow-y: scroll;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1);
}

a > i:hover {
    transform: scale(1.15);
}


/* HOME PAGE */

.description {
    background-image: url('../resources/italianRestaurant.png');
    background-size: cover;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.description:hover,
.bottom-section:hover,
.footer > p:hover {
    cursor: default;
}

h1 {
    padding: 2% 0;
    font-family: 'La Belle Aurore', serif;
    font-size: 150px;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: rgb(53, 58, 54, 0.85);
    color: #e0d1a9;
    padding: 30px 20px 35px;
    border-radius: 15px 35px;
}

h2 {
    padding-top: 7%;
    font-style: italic;
    font-size: 28px;
}

.bottom-section {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 5% 0;
}

.address,
.hours {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hours-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* MENU PAGE */

.main-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: -70px 200px 50px;
    row-gap: 40px;
    column-gap: 100px;
}

.main-menu > h2 {
    grid-column: span 2;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: black;
    margin-bottom: 50px;
}

.main-menu > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    font-family: 'La Belle Aurore', serif;
    font-size: 36px;
    color: #567a37;
    border-top: 1px solid rgb(130, 130, 130);
    border-bottom: 1px solid rgb(130, 130, 130);
}

.specials > h3 {
    color: rgb(148, 61, 61);
    border-top: 1px solid rgb(148, 61, 61);
    border-bottom: 1px solid rgb(148, 61, 61);
}

.item-1,
.item-2,
.item-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-1 > p,
.item-2 > p,
.item-3 > p {
    font-size: 13px;
    font-style: italic;
}


/* CONTACT PAGE */

.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -70px;
    gap: 30px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-header {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: black;
}

.spaghetti {
    width: 500px;
    margin: 0 auto;
    opacity: 0.8;
    border-radius: 5px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.zia-logo,
.teresa-logo {
    font-size: 65px;
    padding: 0;
}

.zia-logo {
    padding-left: 100px;
}

.teresa-logo {
    margin-top: -50px;
    text-align: center;
}

.original {
    border-radius: 3px;
    margin-top: -20px;
}

.zia-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-address,
.contact-hours,
.contact-phone {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-form {
    display: flex;
    justify-content: center;
    background-color: #465a34;
    margin: 0 auto 50px;
    color: #e0d1a9;
    padding: 30px 50px;
    border-radius: 10px;
    gap: 50px;
    align-items: center;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.message-title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    position: relative;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #465a34;
    border-bottom: 2px solid #e0d1a9;
}

input:focus,
textarea:focus {
    color: #e0d1a9;
}

input:valid,
textarea:valid {
    color: #e0d1a9;
}

span {
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 1rem;
    color: rgb(205, 171, 59);
    transition: 0.3s;
}

input:focus ~ span,
input:valid ~ span,
textarea:focus ~ span,
textarea:valid ~ span {
    font-size: 0.6rem;
    transform: translateY(-1rem);
}

input[type="submit"] {
    width: 90px;
    background-color: #e0d1a9;
    color: #353a36;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
    font-weight: 800;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #c9ba8d;
}

input[type="submit"]:active {
    box-shadow: inset 2px 3px 8px #7c704c;
    background-color: #c0af7c;
}

.original-text {
    width: 300px;
    height: 212px;
    border-radius: 3px;
}
